SPOTTER_CONNECTION_STRING=Server=localhost,1435;Database=230006;User Id=sa;Password=qweasd123!;TrustServerCertificate=True
SPOTTER_SA_PASSWORD=qweasd123!
JWT_SECRET=your-secret-key-minimum-32-characters
JWT_ISSUER=Spotter
JWT_AUDIENCE=SpotterClient
GOOGLE_MAPS_API_KEY=
STRIPE_SECRET_KEY=
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
